.container {
  display: flex;
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 150ms ease;
  width: 100%;
  flex: 1 1 0;
  min-width: 0;
}

.card:hover {
  transform: translateY(-0.25rem);
}
